In [36]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2], 'c': [3, 4], 'd': [5, 6]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'b': [3, 4], 'd': [5, 6]})
df1

     a  b  c  d
0  foo  1  3  5
1  bar  2  4  6

In [25]:
df2

     a  b
0  foo  3
1  baz  4

In [26]:
df1.merge(df2, how='outer', on='a')

     a  b_x    c  b_y
0  foo  1.0  3.0  3.0
1  bar  2.0  4.0  NaN
2  baz  NaN  NaN  4.0

In [37]:
result = pd.merge(df1, df2, on='a', how='outer', suffixes=('_left', '_right'))
result

     a  b_left    c  d_left  b_right  d_right
0  foo     1.0  3.0     5.0      3.0      5.0
1  bar     2.0  4.0     6.0      NaN      NaN
2  baz     NaN  NaN     NaN      4.0      6.0

In [31]:
import pandas as pd

# Perform the full outer join.
result = pd.merge(df1, df2, on='a', how='outer', suffixes=('_left', '_right'))

# Replace NaNs in b_left with values from b_right.
result['b_left'] = result['b_left'].fillna(result['b_right'])

# Drop the b_right column as it is no longer needed.
result.drop('b_right', axis=1, inplace=True)

# Rename b_left to b to match the original column name if needed.
result.rename(columns={'b_left': 'b'}, inplace=True)

# Result now contains your desired output.
result

     a    b    c
0  foo  1.0  3.0
1  bar  2.0  4.0
2  baz  4.0  NaN

In [38]:
# Assuming 'result' is the DataFrame obtained after the full outer join

# Loop through each column and apply the logic
for column in result.columns:
    # Check if the column ends with '_left'
    if column.endswith('_left'):
        # Extract the base name of the column (without '_left')
        base_column_name = column[:-5]
        # Replace NaN in the '_left' column with values from the '_right' column
        result[column] = result[column].fillna(result[base_column_name + '_right'])
        # Drop the '_right' column
        result.drop(base_column_name + '_right', axis=1, inplace=True)
        # Rename '_left' column to original name
        result.rename(columns={column: base_column_name}, inplace=True)

result

     a    b    c    d
0  foo  1.0  3.0  5.0
1  bar  2.0  4.0  6.0
2  baz  4.0  NaN  6.0